<div class="row">
  <div id ="blue" class="span12 b">
    <h1>Phil's the man!</h1>
  </div>
</div>

<div class="row">
  <div id ="yellow" class="span3 b">
    <p>Some yellow text here</p>
  </div>

  <div id ="green" class="span9 b">
    <p>Some green text here</p>
  </div>
</div>

<div class="row">
  <div id ="orange" class="span4 b">
    <p>Some orange text here</p>
  </div>

  <div id ="black" class="span4 b">
    <p>Some black text here</p>
  </div>

  <div id ="red" class="span4 b">
    <p>Some red text here</p>
  </div>
</div>