<input type="button" id="pirate_button" value="Get Pirates">
<br />
<br />

<input type="text" id="pirate_text">
<input type="button" id="pirate_create" value="Create Pirates">

<div id="pirates"></div>