/*
 *= require 'reset'
 *= require_self
 */


.field label 
{
  display: block;
}

.field 
{
  margin-bottom: 10px;
}

body 
{
  padding:25px;
  background-color: #ccc;
  color:#111;  
}

.errors
{
  color:red;
}