<% content_for :submenu do %>
  <%= link_to "About", about_path %>
  <%= link_to "FAQ", faq_path %>
<% end %>

<i class="icon-search"></i>

<h1>INDEX</h1>
Mumblecore narwhal swag, sint occaecat odio put a bird on it ex flexitarian cred wayfarers assumenda. Aesthetic cred irure, forage you probably haven't heard of them ut marfa keytar helvetica elit. Cray mumblecore iphone tattooed, delectus fixie 3 wolf moon chambray wayfarers kale chips nihil williamsburg. Organic chambray wayfarers brunch. Ethnic tumblr pour-over selvage excepteur ut vero gentrify. Cray +1 mustache, ethical vegan street art PBR deserunt chambray. Placeat ullamco kogi, fingerstache tofu typewriter put a bird on it pinterest aliquip single-origin coffee wayfarers.

Chumblecore narwhal swag, sint occaecat odio put a bird on it ex flexitarian cred wayfarers assumenda. Aesthetic cred irure, ambray wayfarers kale chips nihil williamsburg. Organic chambray wayfarers brunch. Ethnic tumblr pour-over selvage excepteur ut vero gentrify. Cray +1 mustache, ethical vegan street art PBR deserunt chambray. Placeat ullamco kogi, fingerstache tofu typewriter put a bird on it pinterest aliquip single-origin coffee wayfarers.